@using MedicalAssistant.UI.Models.Medication
@using MedicalAssistant.UI.Shared.Services.Abstraction

@if (_loading)
{
    <div class="d-flex flex-column w-100 h-100">
        <LoadingSkeletonComponent Class="pa-4 flex-grow-1"/>
    </div>
}
else
{
    @if (_medications.Count == 0)
    {
        <div style="display: flex; justify-content: center; align-items: center; height: 100%; color: #888888; padding: 16px; text-align: center;">
            <MudIcon Icon="@Icons.Material.Outlined.MedicalServices" Size="Size.Large" Style="margin-right: 8px; color: #FF5722;"/>
            <MudText Typo="Typo.h6" Class="fade-in">@Translations.NoRecommendationToday</MudText>
        </div>
    }
    else
    {
        <MudTimeline TimelineOrientation="TimelineOrientation.Vertical" TimelineAlign="TimelineAlign.Start">
            @*Morning*@
            @if (_morningMedications.Count > 0)
            {
                <MudTimelineItem TimelineAlign="TimelineAlign.Start">
                    <ItemOpposite>
                        @foreach (var medication in _morningMedications)
                        {
                            <MedicationDailyTimelineItem Medication="medication" />
                        }
                    </ItemOpposite>
                    <ItemContent>
                        <MudText>@Translations.MorningRecommendations</MudText>
                    </ItemContent>
                </MudTimelineItem>
            }


            @*Afternoon*@
            @if (_afternoonMedications.Count > 0)
            {
                <MudTimelineItem TimelineAlign="TimelineAlign.Start">
                    <ItemOpposite>
                        @foreach (var medication in _afternoonMedications)
                        {
                            <MedicationDailyTimelineItem Medication="medication" />
                        }
                    </ItemOpposite>
                    <ItemContent>
                        <MudText>@Translations.AfternoonRecommendations</MudText>
                    </ItemContent>
                </MudTimelineItem>
            }


            @*Evening*@
            @if (_eveningMedications.Count > 0)
            {
                <MudTimelineItem TimelineAlign="TimelineAlign.Start">
                    <ItemOpposite>
                        @foreach (var medication in _eveningMedications)
                        {
                            <MedicationDailyTimelineItem Medication="medication"/>
                        }
                    </ItemOpposite>
                    <ItemContent>
                        <MudText>@Translations.Evening</MudText>
                    </ItemContent>
                </MudTimelineItem>
            }

            @*Night*@

            @if (_nightMedications.Count > 0)
            {
                <MudTimelineItem TimelineAlign="TimelineAlign.Start">
                    <ItemOpposite>
                        @foreach (var medication in _nightMedications)
                        {
                            <MedicationDailyTimelineItem Medication="medication" />
                        }
                    </ItemOpposite>
                    <ItemContent>
                        <MudText>@Translations.NightRecommendations</MudText>
                    </ItemContent>
                </MudTimelineItem>
            }

        </MudTimeline>
    }
}
