@using MedicalAssist.UI.Models.Visits
@using MedicalAssist.UI.Shared.Services.Abstraction
@using MedicalAssist.UI.Shared.Services.Visits
@inject IVisitService VisitService
@if (_loading)
{
	<h1>@Translations.Loading...</h1>
}
else
{
	<RadzenScheduler Style="height: calc(100vh - 98px); max-height:100vh; overflow: hidden; margin: 0;"
					 TItem="VisitModel" Data=@_visits StartProperty="Date" EndProperty="End"
					 TextProperty="VisitType" SelectedIndex="2" TodayText="@Translations.Today" NextText="@Translations.Tomorrow" PrevText="@Translations.Yesterday"
					 SlotRender=@SelectTodayDate>
		<RadzenDayView Text="@Translations.Day" StartTime="TimeSpan.FromHours(6.0)" EndTime="TimeSpan.FromHours(24.0)" TimeFormat="HH:mm" />
		<RadzenWeekView Text="@Translations.Week" StartTime="TimeSpan.FromHours(0.0)" EndTime="TimeSpan.FromHours(24.0)" TimeFormat="HH:mm" />
		<RadzenMonthView Text="@Translations.Month" />
		<RadzenYearView Text="@Translations.Year" />
	</RadzenScheduler>
}

@code {
	private List<VisitModel> _visits = new();
	private bool _loading = true;

	protected override async Task OnInitializedAsync()
	{
		var response = await VisitService.GetAllVisits();
		if (response.IsSuccess)
		{
			_visits = response.Value!;
			await InvokeAsync(StateHasChanged);
		}
		_loading = false;
	}

	private void SelectTodayDate(SchedulerSlotRenderEventArgs args)
	{
		string[] validViews = { Translations.Month, Translations.Year };
		if (validViews.Contains(args.View.Text) && args.Start.Date == DateTime.Today)
		{
			args.Attributes["style"] = "background: var(--rz-scheduler-highlight-background-color, rgba(255,220,40,.2));";
		}
	}
}