@using MedicalAssistant.UI.Components.AppBar
@using MedicalAssistant.UI.Components.AppBar.Notifications
@using MedicalAssistant.UI.Components.Settings
@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@layout BaseLayout
@attribute [Authorize]


<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(e => DrawerToggle())"/>
        <MudSpacer/>
        <SettingBtn/>
        <Notification/>
        <AccountMenu/>
        <MudIconButton Icon="@(BaseLayout.IsDarkMode ? Icons.Material.Filled.Nightlight : Icons.Material.Filled.Brightness4)"
                       Color="Color.Inherit"
                       Class="nav-button ml-1"
                       OnClick="@(async () => await BaseLayout.ThemeToggle())"/>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <img src="/Logo.svg" class="page-icon">
            <MudText Typo="Typo.h6">@Translations.MedicalAssist</MudText>
        </MudDrawerHeader>
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Style="overflow-x: hidden;">
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="pa-4 ma-0">
            <div style="overflow-x: hidden !important;">
                @Body
            </div>
        </MudContainer>
    </MudMainContent>
</MudLayout>
<style>
	.page-icon {
		height: 64px;
		width: 64px;
		margin-right: 10px;
	}
</style>

@code {
    bool _drawerOpen = true;
    [CascadingParameter] BaseLayout BaseLayout { get; set; }
    void DrawerToggle() => _drawerOpen = !_drawerOpen;

}