@page "/visits/all"
@using MedicalAssistant.UI.Components.Visits
@using MedicalAssistant.UI.Models.Visits
@using MedicalAssistant.UI.Shared.Services.Abstraction
<div style="overflow-x: hidden;">
    <MudPaper Style="min-height: calc(100vh - 96px); overflow-x: hidden;">
        <MudPaper Class="pa-1">
            <div class="d-flex flex-row justify-end flex-grow-1 w-100" style="overflow-x: hidden;">
                <div style="max-width: 300px; margin-top: 14px; margin-right: 16px;">
                    <MudSelect T="string" Value="@SelectedSortingDirection" ValueChanged="DirectionChanged">
                        <MudSelectItem Value="@Translations.Ascending">
                            <MudIcon Icon="@Icons.Material.Filled.TrendingUp"/>
                            <MudText Inline="true">@Translations.Ascending</MudText>
                        </MudSelectItem>
                        <MudSelectItem Value="@Translations.Descending">
                            <MudIcon Icon="@Icons.Material.Filled.TrendingDown"/>
                            <MudText Inline="true">@Translations.Descending</MudText>
                        </MudSelectItem>
                    </MudSelect>
                </div>
                <div style="max-width: 300px;">
                    <MudTextField T="string" @bind-Value="SearchTerm"
                                  Adornment="Adornment.End"
                                  MaxLength="30"
                                  Label="@Translations.SearchTerm"
                                  AdornmentIcon="@Icons.Material.Outlined.Search"
                                  Class="ma-1"
                                  TextChanged="SearchVisits"/>
                </div>
            </div>
        </MudPaper>
        <MudGrid Class="pa-4" Justify="Justify.FlexStart" Style="overflow-x: hidden;">
            @foreach (var visit in _visits)
            {
                <MudItem xs="12" sm="8" md="6" lg="4">
                    <VisitItem Visit="visit"/>
                </MudItem>
            }
        </MudGrid>
    </MudPaper>

</div>