<div style="overflow-x: hidden;">
    @if (Stages is not null && Stages.Count > 0)
    {
        <div style="overflow-x: hidden;">
            <MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true" Class="my-2" Style="overflow-x: hidden;">
                @Translations.DiseaseHistory
            </MudText>
            <MudTimeline TimelineAlign="TimelineAlign.Default" Style="overflow-x: hidden;">
                @foreach (var (stage, num) in (_tuples))
                {
                    <MudTimelineItem Color="Color.Dark" Elevation="25" TimelineAlign="@(num % 2 == 0 ? TimelineAlign.Default : TimelineAlign.End)">
                        <ItemContent>
                            <MudTooltip Text="@Translations.ShowDetails">
                                <MudButton Color="Color.Transparent">
                                    <MudPaper Elevation="0" Class="mt-n1">
                                        <MudText Typo="Typo.h6" Color="Color.Primary" Align="Align.Left" GutterBottom="true">@stage.Name</MudText>
                                        @if (stage.Note is not null)
                                        {
                                            <MudText Typo="Typo.body2" Align="Align.Left">
                                                @if (stage.Note.Length < 30)
                                                {
                                                    @stage.Note
                                                }
                                                else
                                                {
                                                    @(stage.Note[..30] + "...")
                                                }
                                            </MudText>
                                        }
                                    </MudPaper>
                                </MudButton >
                            </MudTooltip>
                        </ItemContent >
                        <ItemOpposite >
                            <MudText Color="Color.Primary" Typo="Typo.h6"> @stage.Date.ToString("dd.MM.yyyy") </MudText >
                        </ItemOpposite >
                    </MudTimelineItem>
                }
            </MudTimeline>
        </div>
    }
    <div style="position: fixed;bottom: 34px; right: 75px;overflow-x: hidden;">
        <MudTooltip Text="@Translations.Add" Placement="Placement.Start" Style="overflow-x: hidden;">
            <MudFab
                Class="fixed-button"
                Color="Color.Primary"
                Size="Size.Large"
                StartIcon="@Icons.Material.Outlined.Add"
                OnClick="@Add">
            </MudFab>
        </MudTooltip>
    </div>
</div>
<style>
    .fixed-button {
        position: fixed;
        bottom: 24px;
        right: 24px;
        z-index: 150;
        overflow-x: hidden;
    }
</style>